body
{
    font-family: Verdana, Tahoma, Arial, "Helvetica Neue", Helvetica, Sans-Serif;
    color: #232323;
    background-color: #fff;
}

ul 
{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li 
{
    float: left;
    padding: 1px;
}