@{
	ViewBag.Title = "Index JavaScript";
}

<h2>Hello @ViewBag.firstname</h2>

<select id="categories">
	<option>All</option>
</select>

<div id="container"></div>

<script type="text/javascript"">
	$(document).ready(function () {
		var id = @ViewBag.id;
		var blobUrl = '@ViewBag.blobUrl';
		$.ajax({
			url: blobUrl + '/friendlikes/' + id,
			dataType: 'jsonp',
			jsonpCallback: 'dataCallback',
			success: function (data) {
				var categories = {};
				var count = 0;
				// Create the items
				$.each(data, function (i, v) {
					if (count++ > 500) {
						return;
					}
					var $item = '<div class="like ' + v.Category + '">' + 
					'<h3 class="name">' + v.Name + '</h3>' + 
					'<p class="nb">' + v.Nb + '</p>' + 
					'<p class="category">' + v.Category + '</p>' + 
					'</div>';
					$('#container').append($item);
					// Keep track of categories
					if (categories[v.Category]) {
						++categories[v.Category];
					} else {
						categories[v.Category] = 1;
					}
				});
				// Create category filters
				$.each(categories, function (i, v) {
					$('#categories').append('<option data-filter="' + i + '">' + i + ' (' + v + ')</option>');
				});
				$('#categories').change(function(){
					var selector = '.' + $('#categories option:selected').attr('data-filter');
					$('#container').isotope({ filter: selector });
					return false;
				});
				// Call isotope
				$('#container').isotope({
					itemSelector: '.like'
				});
			}
		});
	});
</script>