@{
    ViewBag.Title = "Index JavaScript";
}

<h2>Hello @ViewBag.firstname</h2>

<div id="container"></div>

<script type="text/javascript"">
    $(document).ready(function () {
        var id = @ViewBag.id;
        $.ajax({
            url: 'http://127.0.0.1:10000/devstoreaccount1/friendlikes/' + id,
            dataType: 'jsonp',
            jsonpCallback: 'dataCallback',
            success: function (data) {
                // Create the items
                $.each(data, function (i, v) {
                    var $item = '<div class="like ' + v.Category + '">' + 
                    '<h3 class="name">' + v.Name + '</h3>' + 
                    '<p class="nb">' + v.Nb + '</p>' + 
                    '<p class="category">' + v.Category + '</p>' + 
                    '</div>';
                    $('#container').append($item);
                });
                // Call isotope
                $('#container').isotope({
                    itemSelector: '.like'
                });
            }
        });
    });
</script>