@{
    ViewBag.Title = "Index";
}

<h2>Hello @ViewBag.firstname</h2>

How is the weather in @ViewBag.hometown ?

<h2>Stuff your friends like</h2>

<ul class="friendlikes">
@foreach (var i in ViewBag.friendLikes)
{
    <li>@i.Name (@i.Nb likes)</li>
}
</ul>