@{
    ViewBag.Title = "Please Wait";
}

<h2>Please Wait ...</h2>

<div id="message"></div>

<script type="text/javascript">
    $(document).ready(function () {
        var id = @ViewBag.id;
        var blobUrl = '@ViewBag.blobUrl';
        var webUrl = '@ViewBag.webUrl';
        setInterval(function () {
            $.jsonp({
                url: blobUrl + '/friendlikes/' + id,
                dataType: 'jsonp',
                callback: 'dataCallback',
                success: function (data) {
                    window.location.href = webUrl + "/";
                },
                error: function () {
                    $('#message').append('wait...<br/>');
                }
            });
        }, 2000);
    });
</script>