@{
    ViewBag.Title = "Please Wait";
}

<h2>Please Wait ...</h2>

<div id="message"></div>

<script type="text/javascript">
    $(document).ready(function () {
        var id = @ViewBag.id;
        var webUrl = @ViewBag.webUrl;
        var blobUrl = @ViewBag.blobUrl;
        setInterval(function () {
            $.getJSON(webUrl + '/likes/iscached/' + id, function (data) {
                if (data == true) {
                    window.location.href = webUrl + "/";
                }
                $('#message').append('wait...<br/>');
            });
        }, 2000);
    });
</script>